:root{
    --resourceBarHeight: 48px;
}

body
{
    font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #0f0f0f;
}

#resourceBar
{
    background-color: #ffffff40;
    height: var(--resourceBarHeight);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
}

.resourceDisplay
{
    width: 200px;
    display: grid;
    grid-template-rows: var(--resourceBarHeight);
    grid-template-columns: var(--resourceBarHeight) calc(200px - var(--resourceBarHeight));
}

.resourceDisplay img
{
    height: var(--resourceBarHeight);
}

.resourceDisplay p
{
    height: var(--resourceBarHeight);
    line-height: var(--resourceBarHeight);
    margin: 0;
    margin-left: 10px;
    color: white;
}

#buildBar
{
    background-color: #ffffff40;
    height: 100px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    border-radius: 4px;
}

#buildBar button
{
    height: 60px;
    width: 60px;
    margin: 20px;
    border: none;
    padding: 0;
    background-color: #00000000;
    cursor: pointer;
}

#buildBar button:active
{
    padding: 2px;
}

#buildBar img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}